@import url('https://fonts.googleapis.com/css?family=Chicle');

body {
    background: url(../images/paper_background.jpg);
    background-repeat: repeat;
    margin : 0px;
}

#banner {
    text-align: center;
}

.banner-matrix-cell-default {
    background-color: none;
    width:1vw;
    height:1vw; 
}

.banner-matrix-cell-on {
    background-color: brown;
    border : 1px solid black;
    width:1vw;
    height:1vw;
}

.banner-character-table {
    display: inline-block;
    border-collapse: collapse;
    margin: 0.25vw;
}

#info_icon, #help_icon {
    cursor: pointer;
    padding : 5px;
}

#info_icon:hover, #help_icon:hover {
    transform: scale(1.2)
}

.icon-container {
    text-align: center;
    margin : 5px auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-header {
    font-family: 'Chicle', cursive;
    font-size: 180%;
    flex:1;
    margin : 10px;
}

.form-container {
    text-align: center;
    align-items: center;
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid brown;
}

@media (min-width : 850px) {
    .form-container {
        display: flex;
    }
}

#input-grid-height, #input-grid-width {
    padding: 5px 0;
    margin: 0 5px;
    max-width: 80px;
}

#input-grid-height:focus, #input-grid-width:focus {
    border: 2px solid darkgreen;
}

#btn-generate-grid {
    padding: 15px 5px;
    background-color: darkgreen;
    color: white;
    border-radius: 5%;
    border : 0;
    margin : 5px;
    flex: 1;
    max-width: 120px;
}

#btn-generate-grid:hover {
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

.form-container label {
    color: rgb(0, 26, 0);
}

.grid-input-container {
    margin : 5px;
    flex : 1;
}