@import url(https://fonts.googleapis.com/css?family=Chicle);

body {
    background: url(../images/paper_background.jpg);
    background-repeat: repeat;
    margin: 0px;
}

#banner {
    margin: 10px auto;
    text-align: center;
    display: none;
}

.banner-matrix-cell-default {
    background-color: none;
    width: 1vw;
    height: 1vw;
}

.banner-matrix-cell-on {
    background-color: brown;
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
}

.banner-character-table {
    display: inline-block;
    border-collapse: collapse;
    margin: 0.25vw;
}

#info_icon,
#help_icon {
    cursor: pointer;
    padding: 5px;
}

#info_icon:hover,
#help_icon:hover {
    transform: scale(1.2)
}

.icon-container {
    text-align: center;
    margin: 5px auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #ebe5b2;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 5px 5px 5px black;
}

.modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close-button:hover,
.modal-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.panel-container {
    flex: 1;
    border: 3px ridge brown;
    box-shadow: 5px 5px 2px rgba(165, 42, 42, 0.5);
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

@media (min-width: 980px) {
    .panel-canvas-container {
        display: flex;
    }
    .panel-container {
        margin-left: 10px;
    }
}

.canvas-container {
    flex: 4;
}

.form-header,
.canvas-header {
    font-family: "Chicle", cursive;
    font-size: 140%;
    margin: 10px;
}

.canvas-header {
    font-size: 180%;
}

.form-container {
    text-align: center;
    align-items: center;
    max-width: 80%;
    margin: 10px auto;
    border: 1px solid rgba(165, 42, 42, 0.3);
}

#input-grid-height,
#input-grid-width {
    padding: 5px 0;
    margin: 0 5px;
    max-width: 60%;
}

#input-grid-height:focus,
#input-grid-width:focus {
    border: 2px solid darkgreen;
}

#btn-generate-grid {
    padding: 10px 10px;
    background-color: darkgreen;
    color: white;
    border-radius: 5%;
    border: 0;
    margin: 5px;
    max-width: 120px;
    box-shadow: 2px 2px 2px black;
}

#btn-generate-grid:hover {
    cursor: pointer;
    background-color: lightgreen;
    color: black;
}

.form-container label {
    color: rgb(0, 26, 0);
}

.grid-input-container {
    margin: 5px;
}

.canvas-cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.canvas-container {
    text-align: center;
}

.canvas-table {
    margin: 10px auto;
    border-collapse: collapse;
}

.canvas-table.animate {
    animation: fullScale 1s;
}

@keyframes fullScale{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.hidden-label {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.aligned-form {
    display: table;
    min-width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.aligned-form .grid-input-container {
    display: table-row;
}

.aligned-form label,
.aligned-form input {
    display: table-cell;
    margin: 2px;
    text-align: left;
}